<footer class="footer">
  <div class="grid">
    <div class="grid__row">
      <div class="grid__column-2-4">
        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="" class="footer__list-item-link">Trung tâm trợ giúp</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-item-link">TickID mail</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-item-link">Hướng dẫn mua hàng</a>
          </li>
        </ul>
      </div>
      <div class="grid__column-2-4">
        <h3 class="footer__heading">Giới thiệu</h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="" class="footer__list-item-link">Giới thiệt về TickID Việt Nam</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-item-link">Tuyển dụng</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-item-link">Điều khoản TickID</a>
          </li>
        </ul>
      </div>
      <div class="grid__column-2-4">
        <h3 class="footer__heading">Danh mục</h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="" class="footer__list-item-link">Trang điểm</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-item-link">Chăm sóc mặt</a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-item-link">Dưỡng môi</a>
          </li>
        </ul>
      </div>
      <div class="grid__column-2-4">
        <h3 class="footer__heading">Theo dõi</h3>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="" class="footer__list-item-link">
              <i class="footer__list-icon fa-brands fa-facebook"></i>
              Facebook
            </a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-item-link">
              <i class="footer__list-icon fa-brands fa-instagram"></i>
              Instagram
            </a>
          </li>
          <li class="footer__list-item">
            <a href="" class="footer__list-item-link">
              <i class="footer__list-icon fa-brands fa-linkedin"></i>
              Linkedin
            </a>
          </li>
        </ul>
      </div>
      <div class="grid__column-2-4">
        <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
        <div class="footer__download">
          <img src="assets/img/QR_code.png" alt="download qr" class="footer__download-qr">
          <div class="footer__download-apps">
            <a href="" class="footer__download-app-link">
              <img src="assets/img/ch_play.png" alt="Google play" class="footer__download-app-img">
            </a>
            <a href="" class="footer__download-app-link">
              <img src="assets/img/app_store.png" alt="App store" class="footer__download-app-img">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>